* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #totalCard{
      display: inline-block;
  }
  #card {
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.11);
  }
  #section{
      margin: 10px;
      
  }
  #CatSec,
  #DogSec {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(27, 226, 233);
    color: white;
    padding: 30px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.11);
  }