*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#cart-sec{
  width: 1050px;
  height: 800px;
   margin: 50px;
  display: grid;
  position: relative;
  top: -4rem; 
  left: 12rem;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto;
  background-color: rgb(16, 186, 198);
  border-radius: 10px;
  justify-content: center;

 
  
  
}
