* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #totalCard{
      display: inline-block;
  }
  #card {
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.11);
  }
  #section{
      margin: 10px;
      
  }
  #adop-sec{
    width: 1050px;
    height: 100%;
    margin: 50px;
    display: grid;
    position: relative;
    top: 4rem; 
    left: 12rem;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    background-color: rgb(8, 127, 196);
    border-radius: 10px;
    justify-content:space-evenly;
   padding-left: 3rem;
    
    
  }
  

  /* #CatSec,#DogSec {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(27, 226, 233);
    color: white;
    padding: 30px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.11);
} */