*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  form{
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 54%;
    bottom: 40%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
  }
  #log{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
     margin-top: 35px; 
  }
  #submit{
    margin-top: 20px;
    height: 50px;
    width: 50%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s;
  }
  #submit:hover{
    background-color: rgb(23, 158, 170);
    color: white;
    transition: 0.3s;
  
  }
  #outlined-logemail,
  #outlined-logpass{
    background-color: #ffffff;
  }